    $principal:#46ff51;
    $secundario: #35cf3e;
    $agregado: #fff;
    $gradiente_principal: #fff;
    $gradiente_secundario: #fff;
    $negro: rgb(39, 43, 51);
    $negro_alterno: rgb(60, 62, 68);
    $alterno: #fff;
    $text_principal: rgb(22, 22, 22);
    $text_alterno: #fff;
    $text_hover: blue;
    $text_secundario: rgb(158, 158, 158);



