    $fontSize_1: 3.5em;
    $fontSize_2: 1.4em;
    $fontSize_3: 1.1em;
    $fontSize_4: 0.90em;
    $fontSize_5: 0.8em;

    $fontWeight_1: 700;
    $fontWeight_2: 600;
    $fontWeight_3: 500;
    $fontWeight_4: 400;
